<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="assets/todo-list.js"></script>
    <link rel="stylesheet" href="assets/style.css">

    <title>Todo-List-1</title>
</head>
<body>
    <div id="todo-table">
        <form id="todo-table-form">
            <input type="text" name="item" value="123" placeholder="Add new item..." required/>
            <button type="submit">Add item</button>
        </form>
        <ul id="task-list">
            <% for(var i=0; i < todos.length; i++){%>
                <li><%= todos[i].item %></li>
            <%}%>
        </ul>
    </div>

</body>
</html>